<div class="awb-sales-entry-wrap">
  <h3>AWB Sales Entry</h3>

  <form (ngSubmit)="addAwb()" class="awb-form">
    <div class="form-row">
      <label>AWB Number</label>
      <input [(ngModel)]="newAwb.number" name="number" required />
    </div>
    <div class="form-row">
      <label>Shipper</label>
      <input [(ngModel)]="newAwb.shipper" name="shipper" />
    </div>
    <div class="form-row">
      <label>Consignee</label>
      <input [(ngModel)]="newAwb.consignee" name="consignee" />
    </div>
    <div class="form-row">
      <label>Origin</label>
      <input [(ngModel)]="newAwb.origin" name="origin" />
    </div>
    <div class="form-row">
      <label>Destination</label>
      <input [(ngModel)]="newAwb.destination" name="destination" />
    </div>
    <div class="form-row">
      <label>Weight</label>
      <input type="number" [(ngModel)]="newAwb.weight" name="weight" />
    </div>
    <div class="form-row">
      <label>Rate</label>
      <input type="number" [(ngModel)]="newAwb.rate" name="rate" />
    </div>
    <button type="submit" class="btn-primary">Add AWB</button>
  </form>

  <table class="awb-table" *ngIf="awbList.length > 0">
    <thead>
      <tr>
        <th>AWB No.</th>
        <th>Shipper</th>
        <th>Consignee</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Weight</th>
        <th>Rate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let awb of awbList; let i = index">
        <td>{{ awb.number }}</td>
        <td>{{ awb.shipper }}</td>
        <td>{{ awb.consignee }}</td>
        <td>{{ awb.origin }}</td>
        <td>{{ awb.destination }}</td>
        <td>{{ awb.weight }}</td>
        <td>{{ awb.rate }}</td>
        <td><button class="btn-danger" (click)="removeAwb(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
